<div [formGroup]="userForm">
  <input formControlName="age">
  <input formControlName="animals">
  <input formControlName="budget">
  <input formControlName="city">
  <input formControlName="clothes">
  <input formControlName="country">
  <input formControlName="currency">
  <input formControlName="earns">
  <input formControlName="eat">
  <input formControlName="houseHoldChemicals">
  <input formControlName="noEat">
  <input formControlName="personOfFamily">
  <input formControlName="publishBudget">
</div>
