<form
    [formGroup]="signInForm"
    class="form-signin"
#signIn>
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <app-loader [isActive]="isLoadedUser | async">
    <label for="inputLogin" class="sr-only">Login</label>
    <input
      tooltip="Type your login, this input is required"
      placement="left"
      placeholder="Login"
      formControlName="userLogin"
      type="string"
      id="inputLogin"
      class="form-control mb-2"
    />
    <label for="inputUserPassword" class="sr-only">Password</label>
    <input
      tooltip="Type your password, this input is required"
      placement="left"
      placeholder="Password"
      formControlName="userPassword"
      type="password"
      id="inputUserPassword"
      class="form-control mb-2"
    />
    <div class="checkbox mb-2 mt-3">
      <label> <input type="checkbox" value="remember-me" tooltip="You can remember your information"
                     placement="left"/>
        Remember me
      </label>
    </div>
    <button (click)="onClickGetUser()" class="btn btn-lg btn-primary btn-block mt-3" type="submit" [disabled]="signInForm.invalid">
      Sign in
    </button>
  </app-loader>
</form>
