<div (scroll)="onScrollSocialMenu($event)"  class="login">
  <nav class="navbar navbar-light bg-dark">
    <div class="logo">
      <a href="#">
        <img src="../../../../assets/image/logotip.png" alt="Logo">
      </a>
    </div>
<!--    <img src="../../../../assets/image/tagline.png" alt="Tagline">-->
    <div class="sign">
      <button (click)="signIn()" type="button" class="btn btn-primary m-1">sing in</button>
      <button (click)="signUp()" type="button" class="btn btn-primary m-1 active">sing up</button>
    </div>
  </nav>
</div>
<div class="middle-content bg-light">
  <div id="video-bg">
    <video height="540px" preload="auto" autoplay="autoplay" #videoSound>
      <source src="../../../../assets/video/movie_mot.mp4" type="video/mp4">
    </video>
    <button (click)="mute(videoSound)"
            class="btn btn-dark btn-sound overlay"
            tooltip="You can turn off the sound, but in fact this is important information for each"
    >
      <i *ngIf="soundOn" class="fa fa-volume-up" ></i>
      <i *ngIf="!soundOn" class="fa fa-volume-off" ></i>
    </button>
  </div>
  <div class="sing-up">
    <form *ngIf="isSignUp"
      [formGroup]="signUpForm"
      (ngSubmit)="signUp()"
      class="form-signup">
      <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
      <label for="inputLogin" class="sr-only">Login</label>
      <input
        tooltip="Type your login, this input is required for registration"
        placement="left"
        placeholder="Login"
        formControlName="login"
        type="string"
        id="inputLogin"
        class="form-control mb-2"
        autofocus=""
      />
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        tooltip="Type your password, this input is required for registration"
        placement="left"
        placeholder="Password"
        formControlName="password"
        type="password"
        id="inputPassword"
        class="form-control mb-2"
      />
      <label for="inputEmail" class="sr-only">Email address</label>
      <input
        tooltip="Type your email, this input is required for registration"
        placement="left"
        placeholder="Email address"
        formControlName="email"
        type="email"
        id="inputEmail"
        class="form-control mb-2"
      />
      <button (click)="onClickSignUpSubmit()" class="btn btn-lg btn-primary btn-block mt-3" type="submit" [disabled]="signUpForm.invalid">
        Sign up
      </button>
    </form>
    <app-sign-up *ngIf="isSignUpFull" (clickSingFormFull)="onClickSingFormFull($event)"></app-sign-up>
    <app-sign-in *ngIf="isSignIn"></app-sign-in>
  </div>
</div>
<div class="font-small indigo">
  <div class="container">
    <div class="menu-animation row text-center d-flex justify-content-center pt-5 mb-3">
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">About us</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Products</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Awards</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Help</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Contact</a>
        </h6>
      </div>
    </div>
  </div>
  <hr class="rgba-white-light" style="margin: 0 15%;">
</div>
<div class="title-information bg-light">
  <div class="col-md-8 col-10 mt-5">
    <p>
      This application is designed to better plan your budget. With the help of this application,
      you will learn how to properly manage your money and make plans for the budget in a grammatical way.
      You will learn to save, save money and understand what you can save. This application is your personal assistant,
      which will help you to really improve your understanding of money matters. You will learn to spend money,
      and we will save you from unnecessary trouble.
    </p>
  </div>
</div>
<footer class="page-footer font-small indigo border-1">
  <div class="container">
    <div class="menu-social" #menuSocial>
      <div *ngIf="menuSocialAction"class="menu-social-action mt-4">
          <!-- Facebook -->
        <a class="fb-ic" href="https://www.facebook.com/MysatovNick">
          <i class="fa fa-facebook fa-lg m-4"> </i>
        </a>
          <!--Linkedin -->
        <a class="li-ic" href="https://www.linkedin.com/in/%D0%BD%D0%B8%D0%BA%D0%BE%D0%BB%D0%B0%D0%B9-%D0%BC%D1%83%D1%81%D0%B0%D1%82%D0%BE%D0%B2-4ba498175/">
          <i class="fa fa-linkedin fa-lg m-4"> </i>
        </a>
          <!--Github-->
        <a class="github" href="https://github.com/NickElfee">
          <i class="fa fa-github fa-lg m-4"></i>
        </a>
          <!--Instagram-->
        <a class="ins-ic" href="https://www.instagram.com/mysatov_nicholas/?hl=ru">
          <i class="fa fa-instagram fa-lg m-4"> </i>
        </a>
        <!--Telegram-->
        <a class="ins-ic" href="https://web.telegram.org/#/im">
          <i class="fa fa-telegram fa-lg m-4"> </i>
        </a>
      </div>
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <b>Musatov Nick</b>
      </div>
    </div>
  </div>
</footer>
